.header {
	display: inline-flex;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	color: MediumAquamarine;
	align-items: center;
}

ul li{
	display: inline-block;
}

.text {
	font-family: Georgia;
  	font-size: 17px;
  	color: black;
}

.column-large {
	display: inline-flex;
	flex-direction: column;
	width: 630px;
	margin-right: 15px;
}


.column-medium {
	display: inline-flex;
	flex-direction: column;
	width: 300px;
	margin-left: 15px;

}

.column-small {
	display: inline-flex;
	flex-direction: column;
	width: 240px;
	margin-left: 20px;
	margin-right: 20px;
}

.main {
	display: flex;
	border: 1px solid black;
	padding: 20px;
}

#image-1 {
	display: flex;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}

#image-2 {
	display: flex;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

#image-3 {
	display: flex;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

#image-4 {
	display: flex;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

#image-5 {
	display: flex;
	align-items: flex-start;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-news-bite.png");
}

.align {
	display: inline-block;
}

.chapter {
	display: inline-flex;
	justify-content: space-between;
}

.headline {
	font-family: Georgia;
  	font-weight: bold;
  	font-size: 30px;
 	color: white;
}

.headline-1 {
	font-family: Georgia;
  	font-weight: bold;
  	font-size: 40px;
 	color: white;
}
